[submodule "cooking-crisis-api"]
	path = api
	url = git@github.com:gramanicu/cooking-crisis-api.git
[submodule "cooking-crisis-web"]
	path = web
	url = git@github.com:gramanicu/cooking-crisis-web.git
