node_modules
lib-cov
lib/*.js
test/*.js
*.gem
*.rbc
.bundle
.config
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma
*.tar
*.tgz
*.tar.gz
*.iso
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*~
*.*~
.#*
\#*#
.*.sw[a-z]
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.un~
Session.vim
.directory
.DS_Store
._*
.Spotlight-V100
.Trashes
Desktop.ini
$RECYCLE.BIN/
Thumbs.db 
*.log
*.pid
log
logs
tmp
temp
GPATH
GRTAGS
GSYMS
GTAGS
TAGS